<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale-1">
        <title>ListUp Marketplace</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
<!--href to Bulma styling-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<!--href to Font Awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
<!--href to Google Fonts-->
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    </head>

<body id = "custom">
    <section class = "hero">
        <div class = "hero-body" style = "width: 980px">
            <div class="columns">
                <div class="column is-half">
                    <img src="/images/ListUp Logo 2.jpg" style="width: 296px; height: 156px">
                </div>
                <div class="column is-full has-text-centered">
                    <h2 class = "title">Welcome to List Up Marketplace!!</h2>
                        <p class="subtitle">
                            A marketplace to buy or sell used, modified, or rare items from around the globe! 
                        </p>
                </div>
            </div>
                <nav>
                <a href="/">Home</a>
                {{#if loggedIn}}
                <button id="logout" class="btn-no-style">Logout</button>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
                </nav>
        </div>
    </section>

    <section class = "section">
        <div class = "container">
            <div class = "columns">
                <div class = "column">
                    <article class = "notification is-primary py-1 px-1">
                        <div class = "is-flex is-flex-direction-row is-fullwidth m-auto">
                            <div class = "media-content">
                                <span class = "icon is-large">
                                    <i class="fa-solid has-text-black fa-2x fa-car"></i>
                                </span>
                            </div>
                            <h1 class = "title">Modded Vehicles</h1>
                        </div>
                    <article class = "meida is-fullwidth">
                        {{#if loggedIn}}
                        <a href="/category/4"> 
                            <img class="image is-fullwidth" src = "/images/modded-cars.jpg" style="height: 300px;">
                    </article>
                    </article>
                        </a>
                        {{/if}}
                </div>
                <div class = "column">
                    <article class = "notification is-info py-1 px-1">
                        <div class = "is-flex is-flex-direction-row is-fullwidth m-auto">
                            <div class = "media-left">
                                <span class = "icon is-large">
                                    <i class="fa-solid has-text-black fa-2x fa-gamepad"></i>
                                </span>
                            </div>
                            <h1 class = "title">Retro Video Games</h1>
                        </div>
                    <article class = "media is-fullwidth">
                        {{#if loggedIn}}
                        <a href="/category/2"> 
                            <img class="image is-fullwidth" src = "/images/retro-games.jpg" style="height: 300px;">
                    </article>
                    </article>
                        </a>
                        {{/if}}
                </div>
                <div class = "column">
                    <article class = "notification is-danger py-1 px-1">
                        <div class = "is-flex is-flex-direction-row is-fullwidth m-auto">
                            <div class = "media-left">
                                <span class = "icon is-large">
                                    <i class="fa-solid has-text-black fa-2x fa-couch"></i>
                                </span>
                            </div>
                            <h1 class = "title">Upcycled Furniture</h1>
                        </div>
                    <article class = "media is-fullwidth">
                        {{#if loggedIn}}
                        <a href="/category/1"> 
                            <img class="image is-fullwidth" src = "/images/upcycled-furniture.jpg" style="height: 300px;">
                    </article>
                    </article>
                        </a>
                        {{/if}}
                </div>
                <div class = "column">
                    <article class = "notification is-warning py-1 px-1">
                        <div class = "is-flex is-flex-direction-row is-fullwidth m-auto">
                            <div class = "media-left">
                                <span class = "icon is-large">
                                    <i class="fa-solid has-text-black fa-2x fa-shirt has-text-white"></i>
                                </span>
                            </div>
                            <h1 class = "title">Vintage Clothing</h1>
                        </div>
                    <article class = "media is-fullwidth">
                        {{#if loggedIn}}
                        <a href="/category/3"> 
                            <img class="image is-fullwidth" src = "/images/vintage-clothes.jpg" style="height: 300px;">
                    </article>
                    </article>
                        </a>
                        {{/if}}
                </div>
            </div>
        </div>
    </section>

    <main>
    <aside>
        
        <h3>Please log in above to see items for sale.</h3>
     
        {{#if loggedIn}}
        <h2>Happy Shopping!</h2>
        {{/if}}
    </aside>
    
    <div class="shop">
        {{{body}}}
    </div>
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
