<section class="container">
  <h5 class="has-text-centered">{{category.category_name}}</h5>

  <section class="flex-row justify-center">
    {{#each category.products as |product|}}
    {{> category-details}}
    {{/each}}
  </section>
</section>