<section class="container">
  <h3 class="shop-name">{{shop.name}}</h3>

  <section class="flex-row justify-center">
    {{#each shop.product as |products|}}
    {{> product-details}}
    {{/each}}
  </section>
</section>